.herro {
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-color: $background-hero;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .herro_title {
    color: $herotext;
    display: block;
    font-weight: 900;
    line-height: 1.1738;
    font-size: 44px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .herro-button {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    background-color: $focus;
    color: $greytext-second;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:focus,
    &:hover {
        background-color: $greytext-second;
        color: $focus;
      }
}