$maintext: #212121;
$greytext: #757575;
$greytext-second: #AFB1B8;
$focus: #2196f3;
$herotext: #ffffff;
$background-main: #ffffff;
$background-modal: rgba(0, 0, 0, 0.2);
$background-thumb: rgba(33, 150, 243, 0.9);
$background-hero: #2f303a;
$text-adress: rgba(255, 255, 255, 0.6);
$background-second: #f5f4fa;
$background-interest: #e5e5e5;
$bazier: cubic-bezier(0.4, 0, 0.2, 1);
$card-set-gap: 30px;
